/* Page d'accueil */

.navbar_test {
    position: absolute;
    background-color: rgb(100, 100, 100);
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 800px;
    border-radius: 15px;
    border: none;
}

.btn_navbar {
    position: absolute;
    background-color: lightblue;
    width: 100px;
    height: 52px;
    margin-top: 10px;
    margin-left: 1010px;
    border-radius: 15px;
    border: none;
}

.txt_align {
    text-align: center;
}

.body_accueil{
    background-color: white;
}

.header_accueil {
    position: absolute;
    background-color: white;
    width: 1523px;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
}

.cadre_logo_accueil {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 150px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.cadre_titre_accueil {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-left: 400px;
}

.txt_header_accueil {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
}

.bouton_inscription {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 1298px;
    border-radius: 15px;
}

.bouton_connexion {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 1418px;
    border-radius: 15px;
}

.txt_bouton {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.liserai_accueil {
    position: absolute;
    background-color: rgb(0, 0, 255);
    width: 100%;
    height: 4px;
    margin-top: 76px;
    margin-left: 0px;
}

.bandeau_accueil {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 1523px;
    height: 50px;
    margin-top: 70px;
    margin-left: -10px;
}

.option {
    position: absolute;
    width: 120px;
    height: 50px;
    border-radius: 15px;

    &.accueil {
        margin-left: 295px;
    }

    &.artistes {
        margin-left: 415px;
    }

    &.musiques {
        margin-left: 535px;
    }

    &.albums {
        margin-left: 655px;
    }

    &.concerts {
        margin-left: 775px;
    }

    &.assistance {
        margin-left: 895px;
    }

    &.loupe {
        margin-left: 1015px;
    }

    &:hover {
        background-color: rgb(150, 150, 150);
    }
}

.txt_option {
    text-align: center;
    transition: transform 0.8s;

    &:hover {
        transform: scale(1.3);
    }
}

.loupe_accueil {
    margin-top: 12.5px;
    margin-left: 47.5px;
}

.cadre_stats_accueil {
    position: absolute;
    background-color: black;
    width: 300px;
    height: 900px;
    margin-top: 140px;
    margin-left: 10px;
    border-radius: 15px;
}

.stats_accueil {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 260px;
    height: 156px;
    margin-left: 20px;
    border-radius: 15px;

    &.stats_1 {
        margin-top: 20px;
    }

    &.stats_2 {
        margin-top: 196px;
    }

    &.stats_3 {
        margin-top: 372px;
    }

    &.stats_4 {
        margin-top: 548px;
    }

    &.stats_5 {
        margin-top: 724px;
    }
}

.txt_stats_accueil {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}

.cadre_suggestions_accueil {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 1170px;
    height: 900px;
    margin-top: 140px;
    margin-left: 330px;
    border-radius: 15px;
}

.suggestions {
    position: absolute;
    background-color: rgb(150, 150, 150);
    width: 120px;
    height: 120px;
    border-radius: 15px;

    &.cadre_mu_1 {
        margin-top: 65px;
        margin-left: 50px;
    }

    &.cadre_mu_2 {
        margin-top: 65px;
        margin-left: 230px;
    }

    &.cadre_mu_3 {
        margin-top: 65px;
        margin-left: 400px;
    }

    &.cadre_mu_4 {
        margin-top: 65px;
        margin-left: 570px;
    }

    &.cadre_mu_5 {
        margin-top: 65px;
        margin-left: 740px;
    }

    &.cadre_mu_6 {
        margin-top: 65px;
        margin-left: 910px;
    }

    &.cadre_al_1 {
        margin-top: 290px;
        margin-left: 50px;
    }

    &.cadre_al_2 {
        margin-top: 290px;
        margin-left: 230px;
    }

    &.cadre_al_3 {
        margin-top: 290px;
        margin-left: 400px;
    }

    &.cadre_al_4 {
        margin-top: 290px;
        margin-left: 570px;
    }

    &.cadre_al_5 {
        margin-top: 290px;
        margin-left: 740px;
    }

    &.cadre_al_6 {
        margin-top: 290px;
        margin-left: 910px;
    }

    &.cadre_ar_1 {
        margin-top: 515px;
        margin-left: 50px;
    }

    &.cadre_ar_2 {
        margin-top: 515px;
        margin-left: 230px;
    }

    &.cadre_ar_3 {
        margin-top: 515px;
        margin-left: 400px;
    }

    &.cadre_ar_4 {
        margin-top: 515px;
        margin-left: 570px;
    }

    &.cadre_ar_5 {
        margin-top: 515px;
        margin-left: 740px;
    }

    &.cadre_ar_6 {
        margin-top: 515px;
        margin-left: 910px;
    }

    &.cadre_co_1 {
        margin-top: 740px;
        margin-left: 50px;
    }

    &.cadre_co_2 {
        margin-top: 740px;
        margin-left: 230px;
    }

    &.cadre_co_3 {
        margin-top: 740px;
        margin-left: 400px;
    }

    &.cadre_co_4 {
        margin-top: 740px;
        margin-left: 570px;
    }

    &.cadre_co_5 {
        margin-top: 740px;
        margin-left: 740px;
    }

    &.cadre_co_6 {
        margin-top: 740px;
        margin-left: 910px;
    }
}

.txt_suggestions_accueil {
    position: absolute;
    color: black;
    width: 200px;
    height: 65px;
    margin-left: 20px;
    font-size: 40px;

    &.txt_mu {
        margin-top: 10px;
    }

    &.txt_al {
        margin-top: 235px;
    }

    &.txt_ar {
        margin-top: 460px;
    }

    &.txt_co {
        margin-top: 685px;
    }
}

.txt_noms_suggestions {
    position: absolute;
    color: black;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 20px;

    &.txt_noms_mu_1 {
        margin-top: 185px;
        margin-left: 50px;
    }

    &.txt_noms_mu_2 {
        margin-top: 185px;
        margin-left: 230px;
    }

    &.txt_noms_mu_3 {
        margin-top: 185px;
        margin-left: 400px;
    }

    &.txt_noms_mu_4 {
        margin-top: 185px;
        margin-left: 570px;
    }

    &.txt_noms_mu_5 {
        margin-top: 185px;
        margin-left: 740px;
    }

    &.txt_noms_mu_6 {
        margin-top: 185px;
        margin-left: 910px;
    }

    &.txt_noms_al_1 {
        margin-top: 410px;
        margin-left: 50px;
    }

    &.txt_noms_al_2 {
        margin-top: 410px;
        margin-left: 230px;
    }

    &.txt_noms_al_3 {
        margin-top: 410px;
        margin-left: 400px;
    }

    &.txt_noms_al_4 {
        margin-top: 410px;
        margin-left: 570px;
    }

    &.txt_noms_al_5 {
        margin-top: 410px;
        margin-left: 740px;
    }

    &.txt_noms_al_6 {
        margin-top: 410px;
        margin-left: 910px;
    }

    &.txt_noms_ar_1 {
        margin-top: 635px;
        margin-left: 50px;
    }

    &.txt_noms_ar_2 {
        margin-top: 635px;
        margin-left: 230px;
    }

    &.txt_noms_ar_3 {
        margin-top: 635px;
        margin-left: 400px;
    }

    &.txt_noms_ar_4 {
        margin-top: 635px;
        margin-left: 570px;
    }

    &.txt_noms_ar_5 {
        margin-top: 635px;
        margin-left: 740px;
    }

    &.txt_noms_ar_6 {
        margin-top: 635px;
        margin-left: 910px;
    }

    &.txt_noms_co_1 {
        margin-top: 860px;
        margin-left: 50px;
    }

    &.txt_noms_co_2 {
        margin-top: 860px;
        margin-left: 230px;
    }

    &.txt_noms_co_3 {
        margin-top: 860px;
        margin-left: 400px;
    }

    &.txt_noms_co_4 {
        margin-top: 860px;
        margin-left: 570px;
    }

    &.txt_noms_co_5 {
        margin-top: 860px;
        margin-left: 740px;
    }

    &.txt_noms_co_6 {
        margin-top: 860px;
        margin-left: 910px;
    }
}

.skip_accueil {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1080px;

    &.skip_mu_accueil {
        margin-top: 100px;
    }

    &.skip_al_accueil {
        margin-top: 325px;
    }

    &.skip_ar_accueil {
        margin-top: 550px;
    }

    &.skip_co_accueil {
        margin-top: 775px;
    }
}

/* Page d'inscription */

.cadre_inscription {
    position: absolute;
    background-color: rgb(217, 217, 217);
    width: 600px;
    height: 575px;
    margin-top: 60px;
    margin-left: 450px;
    border-radius: 15px;
}

.input_inscription {
    position: absolute;
    background-color: rgb(187, 187, 187);
    width: 500px;
    height: 40px;
    border-radius: 15px;
    border: none;

    &.input_nom {
        margin-top: 100px;
        margin-left: 50px;
    }

    &.input_prenom {
        margin-top: 175px;
        margin-left: 50px;
    }

    &.input_mail {
        margin-top: 250px;
        margin-left: 50px;
    }

    &.input_mdp {
        margin-top: 325px;
        margin-left: 50px;
    }

    &.input_conf_mdp {
        margin-top: 400px;
        margin-left: 50px;
    }
}

.input:hover {
    color: rgb(150, 150, 150);
}

/* Page d'artistes */

.bandeau_left {
    position: absolute;
    background-color: rgb(170, 170, 170);
    width: 500px;
    height: 1000px;
    margin-left: -10px;
    margin-top: 120px;
}

.cadre_photo_artiste {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 350px;
    height: 350px;
    margin-left: 75px;
    margin-top: 75px;
    border-radius: 15px;
}

.discographie {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 800px;
    height: 70px;
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 15px 15px 0px 15px;
}

.album {
    position: absolute;
    background-color: rgb(170, 170, 170);
    width: 700px;
    height: 70px;
    margin-left: 700px;
    margin-top: 270px;
    border-radius: 0px 0px 0px 15px;
}

.musique {
    position: absolute;
    background-color: rgb(150, 150, 150);
    width: 600px;
    height: 70px;
    margin-left: 800px;
}

.n1 {
    margin-top: 340px;
}

.n2 {
    margin-top: 410px; 
}

.n3 {
    margin-top: 480px;
}

.n4 {
    margin-top: 550px;
    border-radius: 0px 0px 15px 15px;
}